In [1]:
import pandas as pd

In [3]:
db=pd.read_csv('SalaryData.csv')

In [4]:
db

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [5]:
y=db['Salary']

In [6]:
x=db['YearsExperience']

In [7]:
x=x.values

In [8]:
x=x.reshape(-1,1)

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
mind = LinearRegression()

In [11]:
mind.fit(x,y)

LinearRegression()

In [12]:
mind.predict([[1.5]])

array([39967.14368085])

In [13]:
mind.intercept_

25792.20019866871

In [14]:
mind.coef_

array([9449.96232146])

In [15]:
import joblib

In [16]:
joblib.dump(mind,'salary.pk1')

['salary.pk1']